<html xmlns:th="http://www.thymeleaf.org" lang="en">
<div class="card mt-3">
    <div class="card-header bg-info text-light text-uppercase font-weight-bold" th:text="#{dashboard}"></div>
    <a href="/admin/items" class="list-group-item text-dark" th:text="#{a.product_items}"></a>
    <a href="/admin/brands" class="list-group-item text-dark" th:text="#{menu.brands}"></a>
    <a href="/admin/countries" class="list-group-item text-dark" th:text="#{menu.countries}"></a>
    <a href="/admin/categories" class="list-group-item text-dark" th:text="#{menu.categories}"></a>
</div>
