<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://ultraq.net.nz/thymeleaf/layout" layout:decorate="~{admin.html}">
<section layout:fragment="content_admin">
    <div class="row mt-3 pr-0">
        <h4 th:text="#{label.users}"></h4>
        <button class="btn btn-dark ml-auto" data-toggle="modal" data-target="#add_user"
            th:text="#{add_new.button}"></button>
    </div>
    <table class="table mt-3">
        <thead>
        <th>ID</th>
        <th class="text-uppercase">Email</th>
        <th class="text-uppercase" th:text="#{label.fullName}"></th>
        <th class="text-uppercase" th:text="#{label.roles}"></th>
        <th class="text-uppercase text-right" th:text="#{label.details}"></th>

        </thead>
        <tbody>
        <tr th:each="user : ${users}">
            <td th:text="${user.id}"></td>
            <td th:text="${user.email}"></td>
            <td th:text="${user.fullName}"></td>
            <td><span th:each="role : ${user.roles}" th:text="${(role.equals(user.roles.get(user.roles.size()-1)))? role.role : role.role + ', '}"></span></td>
            <td class="text-right pr-0">
                <a th:href="@{'/admin/user/'+${user.id+'_'+user.fullName.replaceAll(' ','-')}}" class="btn btn-dark btn-sm">
                    <svg width="1.5em" height="1.5em" viewBox="0 0 16 16" class="bi bi-info-circle" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                        <path d="M8.93 6.588l-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588z"/>
                        <circle cx="8" cy="4.5" r="1"/>
                    </svg>
                </a>
            </td>
        </tr>
        </tbody>
    </table>

    <div class="modal fade" id="add_user" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <form th:action="@{/admin/add_user}" method="post">
                    <div class="modal-header">
                        <h5 class="modal-title" th:text="#{add.button}+' '+#{label.users}"></h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label>Email:</label>
                            <input type="email" class="form-control" name="email">
                        </div>
                        <div class="form-group">
                            <label th:text="#{label.fullName}+':'"></label>
                            <input type="text" class="form-control" name="name">
                        </div>
                        <div class="form-group">
                            <label th:text="#{label.password}"></label>
                            <input type="password" class="form-control" name="new_pass" id="pass1">
                        </div>
                        <div class="form-group">
                            <label th:text="#{label.confirmPassword}"></label>
                            <input type="password" class="form-control" name="confirm_pass" id="pass2">
                        </div>
                        <div class="form-group">
                            <label th:text="#{label.roles}+':'"></label>
                            <select name="role" class="form-control">
                                <option th:each="role : ${roles}" th:value="${role.id}" th:text="${role.role}"></option>
                            </select>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal"
                                th:text="#{close.button}"></button>
                        <button type="submit" class="btn btn-primary" th:text="#{add.button}"></button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
</html>