<html xmlns:th="http://www.thymeleaf.org" lang="en">
<div class="row row-cols-3">
    <div class="col pt-2" th:each="it: ${items}">
        <div class="card" th:id="${'me'+it.id}">
            <img th:src="${it.smallPicURL}" class="card-img-top" alt="..." height="220" width="220">
            <div class="card-body">
                <h5 class="card-title" style="height: 45px; overflow: hidden;"><a th:href="@{'/details/'+${it.id+'_'+it.name.replaceAll(' ', '-')}}"
                                            th:text="${it.name}" data-micron="fade" data-micron-bind="true" th:data-micron-id="${'me'+it.id}"></a></h5>
                <h6 th:text="${it.price +' ₸'}"></h6>
                <p th:text="${it.description}" style="height: 135px; overflow: hidden;"></p>
                <h6 class="ml-1 text-uppercase font-weight-bold row">
                    <span th:text="#{h6.brand}" class="mr-1"></span>
                    <a th:href="@{'/search/advanced/?brand='+${it.brands.id}}" th:text="${' '+it.brands.name+','}"
                       class="mr-1"></a>
                    <a th:href="@{'/country?id='+${it.brands.countries.id}}" th:text="${it.brands.countries.code}"></a>
                </h6>
            </div>
            <div class="card-footer">
                <div class="ml-1 row">
                    <h5 th:style="${(it.stars>0)}? 'color: yellow' : 'color: black'">&starf;</h5>
                    <h5 th:style="${(it.stars>1)}? 'color: yellow' : 'color: black'">&starf;</h5>
                    <h5 th:style="${(it.stars>2)}? 'color: yellow' : 'color: black'">&starf;</h5>
                    <h5 th:style="${(it.stars>3)}? 'color: yellow' : 'color: black'">&starf;</h5>
                    <h5 th:style="${(it.stars>4)}? 'color: yellow' : 'color: black'">&starf;</h5>
                </div>
            </div>
        </div>
    </div>
</div>
</html>