<html xmlns:th="http://www.thymeleaf.org" lang="en">
<div class="card font-weight-bold">
    <div class="card-header text-light w3-indigo" th:text="#{menu.categories}"></div>
    <ul class="list-group font-weight-bold">
        <li class="list-group-item">
            <div class="row">
                <svg width="1.5em" height="1.5em" viewBox="0 0 16 16" class="bi bi-cart3 ml-1" fill="currentColor"
                     xmlns="http://www.w3.org/2000/svg" id="all">
                    <path fill-rule="evenodd"
                          d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .49.598l-1 5a.5.5 0 0 1-.465.401l-9.397.472L4.415 11H13a.5.5 0 0 1 0 1H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l.84 4.479 9.144-.459L13.89 4H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm7 0a1 1 0 1 0 0 2 1 1 0 0 0 0-2z"/>
                </svg>
                <a th:href="@{/all}" data-micron="squeeze" data-micron-bind="true" data-micron-id="all"
                   class="text-dark ml-1"
                   th:text="#{all-items}"></a>
            </div>
        </li>
        <li class="list-group-item" th:each="cat : ${categories}">
            <div class="row">
                <img alt="" th:src="${cat.logoUrl}" th:id="${'icon'+cat.id}" height="25" width="25">
                <a th:href="@{'/cat/'+${cat.id}}" data-micron="squeeze" data-micron-bind="true" th:data-micron-id="${'icon'+cat.id}"
                   class="text-dark ml-1" th:text="${cat.name}"></a>
            </div>
        </li>
    </ul>
</div>
<div class="card font-weight-bold mt-2 ">
    <div class="card-header  text-light w3-indigo" th:text="#{menu.brands}"></div>
    <a th:each="brand : ${brands}" th:href="@{'/search/advanced/?brand='+${brand.id}}" class="list-group-item text-dark"
       th:text="${brand.name}"></a>
    <a href="" class="list-group-item text-dark" th:text="#{brands.other}"></a>
</div>
<div class="card font-weight-bold mt-2">
    <div class="card-header  text-light w3-indigo" th:text="#{menu.payments}"></div>
    <div class="card-body">
        <div class="row row-cols-3">
            <a href="">
                <img src="https://cdn.iconscout.com/icon/free/png-512/apple-pay-1-534001.png" alt="" height="50"
                     width="70" style="filter: grayscale(100%);">
            </a>
            <a href="">
                <img src="https://cdn4.iconfinder.com/data/icons/logos-and-brands/512/363_Visa_Credit_Card_logo-512.png"
                     alt="" height="50" width="70" style="filter: grayscale(100%);">
            </a>
            <a href="">
                <img src="https://icons-for-free.com/iconfiles/png/512/payment+paypal+icon-1320186068053719240.png"
                     alt="" height="50" width="70" style="filter: grayscale(100%);">
            </a>
            <a href="">
                <img src="https://www.travelfreedompodcast.com/wp-content/uploads/2017/11/Amazon-Logo.jpg" alt=""
                     height="50" width="70" style="filter: grayscale(100%);">
            </a>
            <a href="">
                <img src="https://w7.pngwing.com/pngs/92/785/png-transparent-mastercard-logo-mastercard-credit-card-payment-visa-nyse-ma-mastercard-logo-text-logo-sign.png"
                     alt="" height="40" width="70" class="mt-1" style="filter: grayscale(100%);">
            </a>
            <a href="">
                <img src="https://e7.pngegg.com/pngimages/711/297/png-clipart-logo-american-express-payment-computer-icons-brand-american-express-blue-text-thumbnail.png"
                     alt="" height="50" width="70" style="filter: grayscale(100%);">
            </a>
        </div>
    </div>
</div>
</html>