<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://ultraq.net.nz/thymeleaf/layout" layout:decorate="~{main.html}">
<section layout:fragment="content">
    <form th:action="@{/search/advanced}" method="get">
        <div class="row">
            <div class="form-group col-3 mt-auto">
                <label th:text="#{label.name}"></label>
                <input type="text" class="form-control" name="query" th:value="${name}">
            </div>
            <div class="form-group col-3 mt-auto">
                <label th:text="#{label.brand}+':'"></label>
                <select name="brand" class="form-control">
                    <option th:each="brand : ${brands}" th:text="${brand.name}"
                            th:selected="${brand.id.equals(brand_id)}" th:value="${brand.id}"></option>
                </select>
            </div>
            <div class="form-group col mt-auto">
                <label th:text="#{label.priceFrom}"></label>
                <input type="text" class="form-control" name="price_from" th:value="${(price1>0)}? ${price1} : ''">
            </div>
            <div class="form-group col mt-auto">
                <label th:text="#{label.priceTo}"></label>
                <input type="text" class="form-control" name="price_to" th:value="${(price2==1000000 || price2==null)}? '' : ${price2}">
            </div>
            <div class="form-group col mt-auto">
                <button class="btn btn-success w-100" th:text="#{search.button}"></button>
            </div>
        </div>
    </form>
    <div class="row justify-content-between">
        <h4 class="col" th:text="#{h4.search_results}"></h4>
        <label th:text="#{label.order}"></label>
        <div class="col btn-group btn-group-sm" role="group">
            <a class="btn btn-outline-dark w3-medium" th:href="@{'?'+${query}}" th:text="#{button.asc}"></a>
            <a class="btn btn-outline-dark w3-medium" th:href="@{'?'+${query}+'&order=desc'}" th:text="#{button.desc}"></a>
        </div>
    </div>
    <section th:insert="~{items_card}"></section>

    <div class="modal fade" id="add" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <form th:action="@{'/add_item'}" method="post">
                    <div class="modal-header">
                        <h5 class="modal-title" th:text="#{add_item.button}"></h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label th:text="#{label.name}"></label>
                            <input type="text" name="name" class="form-control">
                        </div>
                        <div class="form-group">
                            <label th:text="#{label.description}"></label>
                            <input type="text" name="desc" class="form-control">
                        </div>
                        <div class="form-group">
                            <label th:text="#{label.price}"></label>
                            <input type="number" class="form-control" name="price">
                        </div>
                        <div class="form-group">
                            <label th:text="#{label.small_pic_URL}"></label>
                            <input type="text" name="small_pic_url" class="form-control">
                        </div>
                        <div class="form-group">
                            <label th:text="#{label.large_pic_URL}"></label>
                            <input type="text" name="large_pic_url" class="form-control">
                        </div>
                        <div class="form-group">
                            <label th:text="#{label.in_top_page}"></label>
                            <select name="in_top_page" class="form-control">
                                <option value="true" th:text="#{option.yes}"></option>
                                <option value="false" th:text="#{option.no}"></option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label th:text="#{label.rating}"></label>
                            <input type="number" min="0" max="5" class="form-control" name="rating">
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal"
                                th:text="#{close.button}"></button>
                        <button type="submit" class="btn btn-primary" th:text="#{add_new.button}"></button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
</html>